{% extends '../base.html' %}
{% block content %}
{% block title %}
Login to Talkbook
{% endblock title %}
 <!-- Bootstrap Navbar -->
 <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">Talkbook</a>
    </div>
</nav>
<div class="container py-5">
    <div class="main-body">
        <div class="row gutters-sm">
        {% include "./Components/sidebar.html" %}
        {% include "./Components/post.html" %}
        </div>
    </div>
</div>


<!-- The Modal -->
<div class="modal w-100" id="editProfile">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Profile Update</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form class="ui form" method="post" action="" enctype="multipart/form-data">                                        
          {% csrf_token %}
          {{profileForm.as_p}}
          <button type="submit" name="" id="" class="btn btn-primary">Submit</button>
      </form>
      </div>

    </div>
  </div>
</div>

{% endblock content %}



