{% extends '../base.html' %}
{% block content %}
{% block title %}
Forgot Password | Talkbook
{% endblock title %}
 <!-- Bootstrap Navbar -->
 <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">Talkbook</a>
    </div>
</nav>
<div class="container-fluid">
    <div class="row center-vertically">
        <!-- Left Part - Description -->
        <div class="col-md-12">
                <div class="card login-card">
                    <h4 class="">Find your account</h4>
                   <hr>
                    <div class="card-body">
                        <div class="mb-3">
                            <label>Please enter your email address or mobile number to search for your account.</label>
                        <input type="email" class="form-control form-control-lg my-3" id="email" placeholder="Email address or phone number" autocomplete required>
                        </div>
                        <hr>
                        <div class="px-5">
                            <button type="submit" class="btn btn-dark btn-lg">Cancel</button>
                            <button type="submit" class="btn btn-primary btn-lg">Search</button>
                        </div>
                    </div>
        </div>
    </div>
</div>
{% endblock content %}



