*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	background: #f0f2f5;
}
.center-vertically{
	padding-top: 10%;
}
.login-card {
	max-width: 400px;
	margin: 0 auto;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar{
	background: #383836;
	color: white;
}